git+https://github.com/stcstores/stclocal.git@v1.8
git+https://github.com/axevalley/lsftp.git@v1.0
git+https://github.com/stcstores/linnworks_db.git@v1.0
git+https://github.com/stcstores/pylinnworks.git@v1.2
